@page
@model AppGoodFriendRazor.Pages.EditPetModel
@{
    var animalKinds = Enum.GetValues(typeof(Models.enAnimalKind));
    var animalMoods = Enum.GetValues(typeof(Models.enAnimalMood));
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editPetModalLabel">Edit Pet</h5>
        </div>
        <div class="modal-body">
            <form id="editPetForm" method="post">
                <input type="hidden" asp-for="PetIM.PetId" />
                <input type="hidden" asp-for="PetIM.FriendId" />

                <div class="mb-3">
                    <label for="petName" class="form-label">Pet Name</label>
                    <input type="text" asp-for="PetIM.Name" class="form-control" value="@Model.PetIM.Name" />
                    <span asp-validation-for="PetIM.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="petKind" class="form-label">Pet Kind</label>
                    <select asp-for="PetIM.Kind" class="form-control">
                        @foreach (var kind in animalKinds)
                        {
                            <option value="@kind">@kind</option>
                        }
                    </select>
                    <span asp-validation-for="PetIM.Kind" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="petMood" class="form-label">Pet Mood</label>
                    <select asp-for="PetIM.Mood" class="form-control">
                        @foreach (var mood in animalMoods)
                        {
                            <option value="@mood">@mood</option>
                        }
                    </select>
                    <span asp-validation-for="PetIM.Mood" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>

        </div>
    </div>
</div>

@section script
{
    <!-- -->
    <partial name="_ValidationScriptsPartial" />
}