@page "{id:guid}"
@model AppGoodFriendRazor.Pages.FriendDetailsModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<!-- Page view-friend-detail -->
<div class="container px-4 py-4" id="view-friend">
    <h2 class="pb-2 border-bottom">View details of a friend</h2>
    <p>Below you find all the details of my friend. You can also modify the pets my friend has and the quotes he/she likes.</p>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <h3>
            My friend's details
        </h3>
        <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" value="@Model.Friend?.FirstName" readonly>

                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" value="@Model.Friend.LastName" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" value="@Model.Friend.Email" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="birthday" value=@Model.Friend.Birthday?.ToString("yyyy-MM-dd") ?? readonly "No birthday found">
                    </div>

                <a class="w-100 btn btn-primary btn-lg my-4" asp-page="/EditFriend" asp-route-id="@Model.Friend.FriendId">            
                    Edit Friend
                </a>

            </form>
        </div>

        <div class="col-md-7 col-lg-8">
            <h3>
            My friend's address
            </h3>
            <form class="needs-validation" novalidate>
                <div class="row g-3">

                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" value="@Model.Friend.Address?.StreetAddress" ?? readonly>
                    </div>

                    <div class="col-md-3">
                        <label for="zip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zip" value="@Model.Friend.Address?.ZipCode.ToString()" readonly>
                    </div>

                    <div class="col-md-4">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" value="@Model.Friend.Address?.City" readonly>
                    </div>

                    <div class="col-md-5">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" value="@Model.Friend.Address?.Country" readonly>
                    </div>
                </div>

                <a class="w-100 btn btn-primary btn-lg my-4" asp-page="/EditAddress" asp-route-id="@Model.Friend.FriendId">
                    Edit Address
                </a>

            </form>
        </div>

        <div class="col-md-7 col-lg-8">
            <h3 class="pb-2">
                My friend's pets
                <a class="w-100 btn btn-primary btn-lg my-4" asp-page="/AddPet" asp-route-id="@Model.Friend.FriendId">
                    Add Pet
                </a>
            </h3>

            @foreach (var pet in Model.Friend.Pets)
            {
                <div class="row mb-2 text-center">
                    <div class="col-md-10 themed-grid-col">@pet.Name the @pet.Mood @pet.Kind</div>
                    <div class="col-md-2 themed-grid-col">
                        <a href="~/EditPet?petId=@pet.PetId" class="btn btn-secondary btn-sm m-1" type="button">Edit</a>
                    </div>
                </div>
            }
            
        </div>

        <div class="col-md-7 col-lg-8">
            <h3 class="pb-2">
                My friend's favorite quotes
                <a class="w-100 btn btn-primary btn-lg my-4" asp-page="/AddQuote" asp-route-id="@Model.Friend.FriendId">
                    Add Quote
                </a>
            </h3>

            @foreach (var quote in Model.Friend.Quotes)
            {
                <div class="row mb-2 text-center">
                    <div class="col-md-10 themed-grid-col">@quote.Quote <div class="text-end">@quote.Author</div></div>
                    <div class="col-md-2 themed-grid-col">
                    </div>
                </div>
            }
        </div>
    </div>
</div>