@page
@model AppGoodFriendRazor.Pages.ListOfFriendsModel
@{
    ViewData["Title"] = "Friend List";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<h2>Friends List</h2>

<button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#addFriendForm" aria-expanded="false" aria-controls="addFriendForm">
    New Friend
</button>

<hr />

<!-- Friends List -->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friend in Model.Friends)
        {
            <tr>
                <td>
                    @friend.FirstName, @friend.LastName
                    <br/>@friend.Email
                </td>
                <td>
                    @if (friend.Address != null)
                    {
                        @friend.Address.Country
                    }
                    else
                    {
                        <text>No address</text>
                    }
                </td>
                <td>@(friend.Birthday?.ToString("yyyy-MM-dd") ?? "N/A")</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#editFriendForm-@friend.FriendId" aria-expanded="false" aria-controls="editFriendForm-@friend.FriendId">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    <div class="text-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-page="./ListOfFriends" asp-route-currentPage="@i" asp-route-filter="@Model.CurrentFilter">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}